<p>
	Project: <%= @project.name %>
</p>
<p>
	Issues: 
</p>
<div>
	<%= link_to "Create new issue", new_issue_path %>
</div>
<ul>
	<% @project.issues.each do |iss| %>
		<li>
			<%= link_to iss.title, edit_issue_path(iss) %>
			<span>
				[<a href="#">Assign</a>]
				[<%= link_to "Close", :action => "close_issue", :id => iss.id %>]
			</span>
		</li>
	<% end %>
</ul>
<%= link_to "< Back", "/" %>